<!-- This is the template for selecting a photo to tweet-->

<ion-view title="selectPhoto">
	<ion-header-bar class="bar-stable">
		<h1 class="title">image selection</h1>
	</ion-header-bar>
	<ion-content padding="true">
	    <p>image selection happens here</p>
	    <img class="choosePhoto" id="photo0"  ng-src="{{photo0}}"></img>
	    <img class="choosePhoto" id="photo1"  ng-src="{{photo1}}"></img>
	    <img class="choosePhoto" id="photo2"  ng-src="{{photo2}}"></img>
	    <img class="choosePhoto" id="photo3"  ng-src="{{photo3}}"></img>
	    <img class="choosePhoto" id="photo4"  ng-src="{{photo4}}"></img>
	    <img class="choosePhoto" id="photo5"  ng-src="{{photo5}}"></img>
	    <img class="choosePhoto" id="photo6"  ng-src="{{photo6}}"></img>
	    <img class="choosePhoto" id="photo7"  ng-src="{{photo7}}"></img>
	    <img class="choosePhoto" id="photo8"  ng-src="{{photo8}}"></img>
	    <img class="choosePhoto" id="photo9"  ng-src="{{photo9}}"></img>
	    <img class="choosePhoto" id="photo10" ng-src="{{photo10}}"></img>
	    <img class="choosePhoto" id="photo11" ng-src="{{photo11}}"></img>
	    <img class="choosePhoto" id="photo12" ng-src="{{photo12}}"></img>
	    <img class="choosePhoto" id="photo13" ng-src="{{photo13}}"></img>
	    <img class="choosePhoto" id="photo14" ng-src="{{photo14}}"></img>
	    <img class="choosePhoto" id="photo15" ng-src="{{photo15}}"></img>
	    <img class="choosePhoto" id="photo16" ng-src="{{photo16}}"></img>
	    <img class="choosePhoto" id="photo17" ng-src="{{photo17}}"></img>
	</ion-content>
</ion-view>