<!-- This is the template for selecting a photo to tweet-->

<ion-view title="selectPhoto">
	<ion-header-bar class="bar-stable">
		<h1 class="title">image selection</h1>
	</ion-header-bar>
	<ion-content padding="true">
	    <p>image selection happens here</p>
	    <img class="choosePhoto" id="photo1" ng-src="{{photo1}}"></img>
	    <img class="choosePhoto" id="photo2" ng-src="{{photo2}}"></img>
	    <img class="choosePhoto" id="photo3" ng-src="{{photo3}}"></img>
	    <img class="choosePhoto" id="photo4"></img>
	    <img class="choosePhoto" id="photo5"></img>
	    <img class="choosePhoto" id="photo6"></img>
	    <img class="choosePhoto" id="photo7"></img>
	    <img class="choosePhoto" id="photo8"></img>
	    <img class="choosePhoto" id="photo9"></img>
	    <img class="choosePhoto" id="photo10"></img>
	    <img class="choosePhoto" id="photo11"></img>
	    <img class="choosePhoto" id="photo12"></img>
	    <img class="choosePhoto" id="photo13"></img>
	    <img class="choosePhoto" id="photo14"></img>
	    <img class="choosePhoto" id="photo15"></img>
	    <img class="choosePhoto" id="photo16"></img>
	    <img class="choosePhoto" id="photo17"></img>
	    <img class="choosePhoto" id="photo18"></img>
	</ion-content>
</ion-view>