<!-- This is the template for taking a photo -->

<ion-view title="takePhoto">
	<ion-header-bar class="bar-stable">
		<h1 class="title">Photo</h1>
	</ion-header-bar>
	<ion-content padding="true">
		<center>
			<img height=270 src="img/glassGIF2.gif" style="position: absolute; top: 30px;"/>
	  		<img src="img/glassGIF.gif" style="position: relative; top: 0; left: 0;"/>
		    <button class="button button-block button-primary" ng-click="getPhoto()">get a Picture</button>
		    <p ng-model="photosTaken">{{photosTaken}}</p><p ng-model="photosCount">/ {{photosCount}}</p>
	    </center>
	</ion-content>
</ion-view>